            /*All styles*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    width: 100%;
    text-align: center;
    margin-top: 11%;
}

                    /*Main box styles*/

.box{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 1%;
}

.card{
    display: flex;
    width: 200px;
    border: 2px solid black;
    border-radius: 5%;
    padding: 1%;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1%;
}

.card-title{
    font-weight: bold;
    color: rgb(228, 38, 202);
    margin-bottom: 2%;
}

.card-rating{
 margin-bottom: 2%;
}

.card-price{
    font-size: 18px;
    margin-bottom: 2%;
}

.add-to-reserv{
    background-color: rgb(228, 38, 202);
    color: white;
    border: none;
    padding: 2%;
    font-size: 16px;
    border-radius: 15%;
}

.add-to-reserv:hover{
    background-color: deepskyblue;
}

.card:hover{
    border-color: deepskyblue;
}

.card-title:hover{
    color: deepskyblue;
}

                /*Nav-box styles*/

.nav-box{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-item{
    margin: 20px;
}
.link{
    text-decoration: none;
    color: aquamarine;
}
.link:hover{
    border-bottom: 3px dashed aquamarine;
}