                /*Styles*/
.nav-list {
        /*Первый список*/
    margin: 0;
    padding: 0;
    font-size: 0;
}

.list-item {
        /*Элементы первого списка*/
    list-style-type: none;
    display: inline-block;
    position: relative;
    background-color: rgb(255, 128, 0);
    padding: 20px;
}

.link {
        /*Сылки*/
    font-size: 20px;
    color: white;
    text-decoration: none;
    width: 100%;
}

.sub-nav-list {
        /*Второй список*/
    position: absolute;
    top: 63px;
    left: -40px;
    display: block;

}

.sub-list-item {
        /*Элементы Второго списка*/
    display: none;
    list-style-type: none;
    background-color: rgb(255, 128, 0);
    padding: 20px;
}

.sub-sub-nav-list{
        /*Третий список*/
    position: absolute;
    display: block;
    top: 128px;
    left: 154px;
}

.sub-sub-list-item{
        /*Элементы третьего списка*/
    display: none;
    list-style-type: none;
    background-color: rgb(255, 128, 0);
    padding: 20px;
}

.sub-sub-sub-nav-list{
    /*Третий список*/
position: absolute;
display: block;
top: 128px;
left: 153px;
}

.sub-sub-sub-list-item{
    /*Элементы третьего списка*/
display: none;
list-style-type: none;
background-color: rgb(255, 128, 0);
padding: 20px;
}

.wordpress-ul{
    position: absolute;
    display: block;
    left: -40px;
    top: 63px;
}
.wordpress-li{
    display: none;
    list-style: none;
    background-color: rgb(255, 128, 0);
    padding: 20px;
}

                /*Псевдо классы*/
.list-item:hover .sub-list-item {
    display: block;
}

.sub-list-item:hover .sub-sub-list-item {
    display: block;
}

.sub-sub-list-item:hover .sub-sub-sub-list-item {
    display: block;
}
.list-item:hover .wordpress-li{
    display: block;
}

li:hover{
    background-color: rgb(168, 86, 9);
}